# Crawling Player Score from Existing CSV

For each match_day all the information regarding Player are extract for all different evaluation method

This Notebook required to have a csv stored inside a folder fantavoti_G-CDS-TS-numberseason, this csv need to be structured as:

ROLE, MATCH_DAY, TEAM_NAME, PLAYER_NAME, VM, GF, GS, AU, AS, VR, GF, GS, AU, AS, VT, GF, GS, AU, AS, SB, PA, TR, SU, VM, VR, VT, M2, M3

In particular this format of csv could be to easy access through the link: https://www.pianetafanta.it/Voti-Ufficiali-Archivio.asp. Giving the right **query** we could retrive a whole season.

This notebook Address the 2017-2018 season

#### Setup

In [12]:
#All python packages
import requests
from time import sleep
import pandas as pd
import glob
import os
import re
import unidecode
import crawl_soccer_analysis

In [13]:
#path of csv of pianeta-fanta ratings
DATA_PATH = '../data/'
path = DATA_PATH + 'fantavoti_G-CDS-TS-20172018'

In [14]:
dataset = crawl_soccer_analysis.merge_all_the_others_downloaded_ratings(path)

../data/fantavoti_G-CDS-TS-20172018/2017-2018-other.csv

In [15]:
dataset

,team,match_day,player,position,gazzetta_score,corriere_score,tuttosport_score
0,ATALANTA,1,BERISHA E,P,5.5,6.0,6.0
1,ATALANTA,1,GOSENS R,D,5.0,5.5,5.0
2,ATALANTA,1,HATEBOER H,D,6.0,5.5,6.0
3,ATALANTA,1,MASIELLO A,D,5.5,6.0,5.5
4,ATALANTA,1,PALOMINO J,D,6.0,6.0,6.0
...,...,...,...,...,...,...,...
9783,VERONA,38,BEARZOTTI E,C,5.0,5.0,4.5
9784,VERONA,38,AARONS R,C,5.0,4.5,5.5
9785,VERONA,38,DANZI A,C,6.0,6.0,5.0
9786,VERONA,38,CERCI A,A,6.5,6.0,6.5
9787,VERONA,38,MATOS R,A,5.0,6.0,6.0

In [16]:
dataset['match_day'] = dataset['match_day'].astype(int)

In [17]:
dataset.dtypes

team                 object
match_day             int64
player               object
position             object
gazzetta_score      float64
corriere_score      float64
tuttosport_score    float64
dtype: object

save inside the data folder

In [18]:
dataset.to_csv(os.path.join(DATA_PATH, 'alltheotherScore_2017_2018.csv'),index=False)