# Crawling Excel from Fantacalcio

In particular this script:
    1. Take for specified **season** and **days** an xlsx. From Fantacalcio site, then using these data.
    2. Create a Dataframe for each player and day the corrispective **mark**
The Dataframe in output will have a sructure composed by Team, Day, Player, Role and Score 

Data are crawled from https://www.fantacalcio.it/voti-fantacalcio-serie-a-mobile. 
The only input needed are the season string a a representative t, probably (-4) could work in all the instances

In [1]:
#All Python Packages Needed
import requests
from time import sleep
import pandas as pd
import glob
import os
import re
import shutil
import crawl_soccer_analysis

### Crawling Phase
<a href="https://www.fantacalcio.it/" >From Fantacalcio</a>

For each season, the script request gameweek per gameweek an xlsx file.

At the end we store inside the marks folder 38 xlsx files each of one contain the single gameweek

In [2]:
#Italian Serie A has 38 days
days = range(1,39)

In [3]:
#For season 2017-2018
season = '2017-18'
#Representative t
t = '-4'

In [4]:
data_path_to_store_fantacalcio_marks = '../'

In [5]:
%%time
crawl_soccer_analysis.crawlMarks(days, season, t, data_path_to_store_fantacalcio_marks)

CPU times: user 1.12 s, sys: 140 ms, total: 1.26 s
Wall time: 51.1 s

### Merging Phase
The merging phase take all the xlsx file inside the marks folder and merge all the records inside a single dataframe extracting the relevant information for our task.

In [7]:
dataset = crawl_soccer_analysis.merge_fantacalcio_scraped_ratings(data_path_to_store_fantacalcio_marks)

../marks/2017-18-17.xlsx
../marks/2017-18-01.xlsx
../marks/2017-18-21.xlsx
../marks/2017-18-37.xlsx
../marks/2017-18-36.xlsx
../marks/2017-18-20.xlsx
../marks/2017-18-16.xlsx
../marks/2017-18-27.xlsx
../marks/2017-18-31.xlsx
../marks/2017-18-11.xlsx
../marks/2017-18-07.xlsx
../marks/2017-18-06.xlsx
../marks/2017-18-10.xlsx
../marks/2017-18-30.xlsx
../marks/2017-18-26.xlsx
../marks/2017-18-33.xlsx
../marks/2017-18-25.xlsx
../marks/2017-18-09.xlsx
../marks/2017-18-29.xlsx
../marks/2017-18-05.xlsx
../marks/2017-18-13.xlsx
../marks/2017-18-12.xlsx
../marks/2017-18-04.xlsx
../marks/2017-18-28.xlsx
../marks/2017-18-08.xlsx
../marks/2017-18-24.xlsx
../marks/2017-18-32.xlsx
../marks/2017-18-03.xlsx
../marks/2017-18-15.xlsx
../marks/2017-18-35.xlsx
../marks/2017-18-23.xlsx
../marks/2017-18-19.xlsx
../marks/2017-18-18.xlsx
../marks/2017-18-22.xlsx
../marks/2017-18-34.xlsx
../marks/2017-18-14.xlsx
../marks/2017-18-02.xlsx
../marks/2017-18-38.xlsx

In [8]:
dataset

           team  match_day       player position  fantacalcio_score
0      ATALANTA          1   BERISHA E.        P                6.0
1      ATALANTA          1      CALDARA        D                7.0
2      ATALANTA          1     HATEBOER        D                6.0
3      ATALANTA          1  MASIELLO A.        D                5.5
4      ATALANTA          1     PALOMINO        D                6.0
...         ...        ...          ...      ...                ...
10583    VERONA         38       AARONS        C                5.5
10584    VERONA         38        MATOS        A                5.5
10585    VERONA         38        CERCI        A                6.5
10586    VERONA         38        FARES        A                5.5
10587    VERONA         38     PETKOVIC        A                6.0

[10588 rows x 5 columns]

In [9]:
dataset.describe()

          match_day  fantacalcio_score
count  10588.000000       10588.000000
mean      19.509917           5.941396
std       10.966240           0.652312
min        1.000000           3.000000
25%       10.000000           5.500000
50%       20.000000           6.000000
75%       29.000000           6.500000
max       38.000000           9.000000

In [10]:
dataset.dtypes

team                  object
match_day              int64
player                object
position              object
fantacalcio_score    float64
dtype: object

modify the path based on the season

In [11]:
data_path_to_store_fantacalcio_result_csv = os.path.join(data_path_to_store_fantacalcio_marks, 'data', 'fantacalcioScore_2017_2018.csv')
dataset.to_csv(data_path_to_store_fantacalcio_result_csv, index = False)

In [12]:
shutil.rmtree(os.path.join(data_path_to_store_fantacalcio_marks, 'marks'), ignore_errors=True)