# Deal with WyScout Data

In [6]:
#all python packages
import pandas as pd
import os
from unidecode import unidecode
import unicodedata
import crawl_soccer_analysis

In [7]:
DATA_PATH = '../data'

#### Importing json files

In [8]:
dfplayer = pd.read_json(os.path.join(DATA_PATH, 'players_new.json'),encoding = "unicode-escape")

In [9]:
dfteam = pd.read_json(os.path.join(DATA_PATH,'teams_new.json'),encoding = "unicode-escape")

#### reordering in alphabetycal order

In [10]:
dfteam = dfteam.reindex(sorted(dfteam.columns), axis=1)

In [11]:
dfplayer = dfplayer.reindex(sorted(dfplayer.columns), axis=1)

#### call the specific function

In [12]:
dataset = crawl_soccer_analysis.generate_csv_for_string_matching_from_wyscout_jsons(dfteam, dfplayer)

In [13]:
dataset

,id_team,id_player,short,first,last,role,team_name
0,3158.0,20483,MIRANTE A,ANTONIO,MIRANTE,P,ROMA
1,3158.0,8200,N'ZONZI S,STEVEN,N'ZONZI,C,ROMA
2,3158.0,22566,FLORENZI A,ALESSANDRO,FLORENZI,C,ROMA
3,3158.0,20518,JUAN JESUS,JUAN GUILHERME,NUNES JESUS,D,ROMA
4,3158.0,8306,KOLAROV A,ALEKSANDAR,KOLAROV,D,ROMA
...,...,...,...,...,...,...,...
605,3157.0,239294,MAURI J,JOSE,MAURI,C,MILAN
606,3157.0,7949,PEPE REINA,JOSE MANUEL,REINA PAEZ,P,MILAN
607,3157.0,288663,CALDARA M,MATTIA,CALDARA,D,MILAN
608,3157.0,20390,ABATE I,IGNAZIO,ABATE,D,MILAN
609,3157.0,20449,BORINI F,FABIO,BORINI,A,MILAN

In [14]:
dataset.to_csv(os.path.join(DATA_PATH, 'wy_scout_player_association_name_id.csv'), index= False)